@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src:
    url('../fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src:
    url('../fonts/Roboto/Roboto-ThinItalic.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src:
    url('../fonts/Roboto/Roboto-Light.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src:
    url('../fonts/Roboto/Roboto-LightItalic.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src:
    url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src:
    url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src:
    url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src:
    url('../fonts/Roboto/Roboto-MediumItalic.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src:
    url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src:
    url('../fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src:
    url('../fonts/Roboto/Roboto-Black.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src:
    url('../fonts/Roboto/Roboto-BlackItalic.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
